# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Local environment
.env*

# OS files
.DS_Store
Thumbs.db

# Docker
.dockerignore

# IDE
.vscode/settings.json
.idea/

# Logs
*.log